# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs


out/
.next/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Database
*.db
*.sqlite


# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Large binaries and local artifacts
visulization/
*.pt
*.pth
